<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static\css\home_page.css">
</head>
<body>
    <div class="main">
        
        <!--Navigation Bar -->
        <div class="navbar">
            <h1>Openly Curious </h1>
            <ul>
                <li><a href="/admin_login"><button class="login-btn">Admin Login</button></a></li>
                <li><a href = "/login" ><button class="login-btn">Login/Register</button></a></li>
            </ul> 
        </div>
        <!--Other options -->
        <div class="part1"></div>
        <div class="part2">
            <div class="overlay">

            </div>
        </div>
        <div class="part3"></div>
        <div class="text">
            <h1>EXPLORE...</h1>
            <h1>DISCOVER...</h1>
            <h1>INSPIRE...</h1>
            <h1>CREATE...</h1>
        </div>
        <div class="part4">
            <div class="overlay1"></div>
        </div>
        <!-- <div class="vertical_text">
            <h1>START POSTING TODAY</h1>
        </div> -->
    </div>
    <div class="man2"></div>
    </div>
</body>
</html>